body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px dotted #999;
  float: left;
  height: 20px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
}

.snake {
  background: #3f1d1d;
}
.game {
  display: flex;
  flex-direction: row;
}
